@import '../../css/variables.scss';

.search {
  display: table;
  white-space: nowrap;
  border-radius: 30px;
  border: 0.5px solid grey;
  width: auto;
  overflow: hidden;

  .icon { padding: 0 2% 0 4% }

  .input-bar {
    display: table-cell;
    height: 100%;
    width: 430px;
    vertical-align: middle;
    background: white;

    input { 
      width: 100%; 
      &:focus { outline: none };
    }
  }
  
  button {
    display: table-cell;
    box-sizing: border-box;
    background-color: $red;
    color: white;
    padding: 7% 14%;
    transition: 0.3s;
  }
}