@import '../../css/variables.scss';

.search {
  display: table !important;
  white-space: nowrap;
  border-radius: 30px;
  border: 2.5px solid transparent;
  
  input:focus {
    outline: none;
  }
  
  //search bar, including icon
  & > div { 
    background: white;
    display: table-cell;
    align-items: center;
    width: 430px; 
  }

  input {width: 100%}

  button {
    display: table-cell;
    box-sizing: border-box;
    background-color: $red;
    color: white;
    padding: 7% 14%;
  }
}