#footer {
  width: 100%;
  background: #1D201F;
  padding: 2%;
  color: white;
  font-size: 14px;
  
  ul { 
    list-style: none; 
    padding: 0; 
  }
}

.footer-top {
  display: flex;
  justify-content: space-around;
}