#order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3%;
  
  //there are nested titles
  & > .title { 
    letter-spacing: 2px; 
    font-size: 40px; 
    text-align: center 
  }

  //gives margin spacing only for the search bar
  .search { margin: 3%; border: 0.5px solid lightgrey }
}