#hero {
  height: 100vh;
  width: 100%;
  position: relative;
  
  #hero-description { padding: 2.5% }

  .hero-image {
    object-fit: cover;
    width: 75%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .image-left {
    left: 0;
    transition: 0.7s linear;
    clip-path: polygon(0% 0%, calc(100vw - 100%) 0%, 100% 100%, 0% 100%);
    object-position: right;
  }

  .image-right {
    right: 0;
    transition: 0.7s linear;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(200% - 100vw) 100%);
    object-position: bottom;
  }

  .info {
    p {margin-top: 0.5%; margin-bottom: 0.5%}
    font-weight: 600;
    margin-bottom: 2%;
    color: white;
  }

  .info-text { transition: 0.5s; display: inline-block; position: absolute; }
  .next { transition: 0.5s; display: inline-block; position: absolute; opacity: 0}
}