$slide-image-width: 60%;
$slide-description-width: 50%;

.polygon-slide {
  overflow: hidden;
  max-height: 100vh;
  height: 86vw;
  display: flex;
  align-items: center;
  position: relative;

  .cover {
    background-color: white;
    position: absolute;
    width: $slide-image-width;
    height: 100%;
  }

  .image {
    height: 100%;
    object-fit: cover;
    width: $slide-image-width;
  }

  .description {
    z-index: 1;
    width: $slide-description-width;
    position: absolute;
    box-sizing: border-box;

    p {margin: 4%}

    p:nth-child(1) {
      letter-spacing: 2px;
      font-size: 40px;
      font-weight: 600;
    }

    p:nth-child(2) {
      color: lighten(gray, 10); 
      letter-spacing: 0.5px;
      font-size: 18px;
    }

    p:nth-child(3) {
      letter-spacing: 1px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}
