@import './css/variables';
@import './css/init.scss';

@import './components/nav/nav';
@import './components/hero/hero';
@import './components/discover/discover';
@import './components/search/search';
@import './components/slide/slide';


* { font-family: Lato }
body { margin: 0; }

#carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

#indicator-buttons { margin: 5% }

.indicator-button {
  height: 8px;
  width: 35px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  background: lightgrey; 
  cursor: pointer;
}

#button-float {
  background: $red;
  position: absolute;
  transition: 0.2s ease-in;
}

.caption {
  text-align: center;
  .caption-title { font-size: 24px; font-weight: 600; letter-spacing: 2px}
  .caption-paragraph { font-size: 16px; color: grey }
}

.carousel-title {font-size: 36px; font-weight: 600; letter-spacing: 2.5px; text-align: center; margin: 4%}
